body {
  background-image: url('/src/img/borgerhout-1.png');
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.App {
  justify-content: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.back {
  background-color: white;
  border-color: rgb(65, 11, 202);
  color: rgb(65, 11, 202);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  text-align: left;
  margin-top: 20px;
  padding: 10%;
  border-color: rgb(65, 11, 202);
  border-style: solid;
  border-width: thick;
  height: auto;
  background-color: white;
  display: inline-table;
}

.wrapper .routes-list {
  margin-left: -50px;
  display: grid;
}


.react-pdf__Document {
  pointer-events: none;
}

.wrapper .routes-list ol {
  counter-reset: section;
}

.wrapper .routes-list ul {
  list-style-type: none;
  /* position: relative; */
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 15px;
  background-color: aliceblue;
}

.card-img-overlay {
  background-color: rgba(20, 20, 20, 0.3);
}


.card {
  background-color: aliceblue;
  margin-bottom: 20px;
}

/* .wrapper .routes-list button {
  width: 100%;
  height: auto;
} */

